.footer {
    background-color: #555555fa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.contact-section {
    display: flex;
    align-items: center;
    color: #fff;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    font-size: 1.5vh;
}

.anticon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 24px;
    margin-right: 5px;
}

.produced-section {
    display: flex;
    align-items: center;
    color: #fff;
}

