* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header1280 {
    background-color: #555555fa;
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-header {
    background-image: url(../logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 62px;
    width: 102px;
    position: absolute;
    left: 20px; /* 调整左边距以适应布局 */
}

.h1Title {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
